
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.submit_btn_group {
  text-align: center;
  margin-top: 10px;
}

input {
  background-color: #d9d9d9 !important;
}

textarea {
  background-color: #d9d9d9 !important;
}

select {
  background-color: #d9d9d9 !important;
}

.article_a{
  padding-top: 11px;
}

.article_a.author{
    padding-top: 11px;
}

.article_timestamp_label {
  text-transform: uppercase;
  font-weight: 700;
}

.article_display {
  background-color: transparent !important;
  border: none;
  overflow: hidden;
  resize:none;
  color: #fff;
  width: 100%;
}

.article_a.delete{
  float: right;
}

footer {
  margin-left: 25px;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow: hidden;
}

.index_img{
  max-height: 800px;
  width: 100%;
}